// colores

$rojo: #E40E20;
$negro: #000000;
$gris: #999999;
$blanco: #FFFFFF;

// tipografia

$fontSizeH1: 50px;
$fontSizeH2: 40px;
$fontSizeH5: 20px;

$fontWeightExtraBold: 900;
$fontWeightBold: 700;
$fontWeightMedium: 500;
$fontWeightRegular: 400;
$fontWeightLight: 300;
