@import "variables";


body {
    font-family: 'Inter', sans-serif;
    
    h1 {
        font-size: $fontSizeH1;
        color: $blanco;
        font-weight: $fontWeightBold;

    }

    h2 {
        font-size: $fontSizeH2;
        font-weight: $fontWeightBold;
        line-height: 61px;
        text-align: left;
        color: $negro;
        margin-bottom: 40px;
    }

    header {
        background-color: $negro;
    
        .menu {
            
            nav {
                background-color: $negro !important;
                padding-top: 15px;
                padding-bottom: 13px;
                
                ul {
                    column-gap: 30px;
                    align-items: center;
                
                    a {
                        color: $blanco;
                        font-weight: $fontWeightRegular;
                        font-size: 20px;
                    }
                    a.active {
                        color: $blanco !important;
                    }
                    button.hora{
                        background-color: $blanco;
                        border: none;
                        border-radius: 5px;
                        a{
                            color: $rojo;
                            text-decoration: none;
                            font-size: 14px;
                            font-weight: $fontWeightBold;
                            line-height: 19px;
                            letter-spacing: 0px;
                            text-align: center;
                            padding: 8px 15px;
    
                        }
    
                    }
                    img {
                        height: 28px;
                    }
                }
    
    
            }
        }
    }
    
    
    
    .banner {
        .carousel {
            button.active {
                background-color: $rojo;
            }
        }
        .container {
            position: absolute;
            top: 270px;
            left: 200px;
            width: 35%;
    
            h1 {
                font-weight: $fontWeightExtraBold;
                font-size: 50px;
                color: $blanco;
                text-align: left;
                line-height: 60px;
                margin-bottom: 15px;
            }
    
            p {
               font-size: 20px;
               font-weight: $fontWeightRegular;
               line-height: 28px;
               text-align: left;
               color: $blanco;
               margin-bottom: 30px;
            }
    
            button {
                border: none;
                background-color: $rojo;
                border-radius: 5px;
                padding: 10px 20px;
                color: $blanco;
                font-weight: $fontWeightBold;
                font-size: 20px;
            }
        }
    }
    
    .servicios {
        padding: 80px 0;
        
        .card {
            border: none;
            box-shadow: 6px 10px 20px -6px rgba(0,0,0,0.74);
            -webkit-box-shadow: 6px 10px 20px -6px rgba(0,0,0,0.74);
            -moz-box-shadow: 6px 10px 20px -6px rgba(0,0,0,0.74);
            height: 43rem;

            h5 {
                font-size: 20px;
                font-weight: $fontWeightBold;
                line-height: 29px;
                text-align: center;
                padding-top: 15px;
                padding-bottom: 10px;
            }

            p {
                font-size: 16px;
                font-weight: $fontWeightRegular;
                line-height: 24px;
                letter-spacing: 0em;
                padding: 0 25px;
                text-align: left;
            }

            a {
              background-color: rojo;
              border: none;
              font-size: 16px;
              font-weight: $fontWeightBold;
              padding: 8px 25px;
            }
        }
    }
    
    .tienda {
        background: rgb(0,0,0);
        background: linear-gradient(126deg, rgba(0,0,0,1) 22%, rgba(228,14,32,1) 93%);
        padding: 80px 0;

        .container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            column-gap: 100px;

            h2 {
                color: $blanco;
                margin-bottom: 10px;
            }
            p {
                color: $blanco;
                font-size: 20px;
                font-weight: $fontWeightRegular;
                line-height: 30px;
                text-align: left;
                margin-bottom: 25px;
            }

            button {
                border: none;
                background-color: $rojo;
                border-radius: 5px;
                padding: 10px 20px;
                color: $blanco;
                font-weight: $fontWeightBold;
                font-size: 20px;
            }
        }

    }

    .aprende {
        padding-top: 80px;
        padding-bottom: 80px;
        .aprende-nosotros {
            display: flex;
            flex-direction: row;

            .carousel {
                width: 50%;

                .videos {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;

                    .card {
                        width: 40%;
                        border: none;
                        
                        .card-body {
                            padding-left: 0;
                            padding-right: 0;
                            h5 {
                                font-size: 20px;
                                font-weight: $fontWeightBold;
                                line-height: 29px;
                                letter-spacing: 0em;
                                text-align: left;
    
                            }
                            p {
                                font-size: 18px;
                                font-weight: $fontWeightRegular;
                                line-height: 27px;
                                letter-spacing: 0em;
                                text-align: left;

                            }
                            a {
                                background-color: $negro;
                                border: none;
                                font-size: 14px;
                                font-weight: $fontWeightBold;
                                padding: 5px 25px;
                            }
                        }
                        
                    }
                }

            }
            
            .texto {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: center;
                width: 50%;

                h2 {
                    color: $negro;
                    margin-bottom: 10px;
                }
                p {
                    color: $negro;
                    font-size: 20px;
                    font-weight: $fontWeightRegular;
                    line-height: 30px;
                    text-align: left;
                    margin-bottom: 25px;
                }
    
                button {
                    border: none;
                    background-color: $rojo;
                    border-radius: 5px;
                    padding: 10px 20px;
                    color: $blanco;
                    font-weight: $fontWeightBold;
                    font-size: 20px;
                }
            }
        }
        

        
    }
 
    .opiniones {
        background-color: $rojo !important;
        padding-top: 80px;
        padding-bottom: 150px;

        .container {
            h2{
                color: $blanco;
                text-align: center;
            }
            .tarjetas {
                .carousel {
                    .carousel-item {
                        display: flex;
                        flex-direction: row;
                        column-gap: 30px;
                        .card {
                            border:none;
                            border-radius: 25px;
                            background-color: $negro;
                            .card-body {
                                padding: 30px;
                                p {
                                    color: $blanco;
                                    font-size: 20px;
                                    font-weight: $fontWeightRegular;
                                    line-height: 36px;
                                    text-align: left;
    
                                }
                                h5 {
                                    color: $blanco;
                                    font-size: 24px;
                                    font-weight: $fontWeightBold;
                                    line-height: 29px;
                                    text-align: left;

                                }
                            }

                           
                        }

                    }
                }
            }
        }
    }
    
    .marcas {
        background-color: $negro;
        padding-top: 80px;
        padding-bottom: 150px;
        h2 {
            color: $blanco;
            text-align: center;
            margin-bottom: 60px;
            
        }
        .logos-marcas {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }

    .agendar-hora {
        background-image: url(../img/index/calltoaction-imagen.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding-bottom: 200px;
        padding-top: 200px;

        .container {
            .texto-agendar {
                text-align: center;
                h2 {
                    font-size: 55px;
                    color: $blanco;
                    text-align: center;
                }
                button {
                    background-color: $blanco;
                    border: none;
                    padding: 20px 50px;
                    border-radius: 15px;

                    
                    a {
                        text-decoration: none;
                        font-size: 40px;
                        font-weight: $fontWeightBold;
                        line-height: 58px;
                        text-align: left;
                        color: $rojo;
                        text-align: center;
                        


                    }          
        
        
                }
            }
        }
    }

    footer {
        background-color: $negro;
        .container {
            padding-bottom: 20px;
            padding-top: 70px;
            text-align: center;
            .menu-footer {
                margin-bottom: 40px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .menu {
                    display: flex;
                    flex-direction: column;
                    row-gap: 10px;
                    text-align: left;
                    a {
                        text-decoration: none;
                        color: $blanco;
                        font-size: 16px;
                        font-weight: $fontWeightRegular;
                        line-height: 24px;
                    }
                }
                .datos-empresa {
                    text-align: left;
                    
                    p {
                        font-size: 18px;
                        font-weight: $fontWeightRegular;
                        line-height: 30px;
                        letter-spacing: 0em;
                        color: $blanco;
                    }

                }
                .rrss {
                    p {
                        color: $blanco;
                        font-size: 18px;
                        font-weight: $fontWeightMedium;
                        line-height: 30px;
                        text-align: center;

                    }
                    .icono {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        column-gap: 15px;
                    }
                    
                }
            }
            span {
                color: $blanco;
                font-size: 14px;
                font-weight: $fontWeightRegular;
                text-align: center;

            }
        }
    }
        
    
   

}

@import "mecanicageneral";







